/* Basislayout */

* {
  overflow: hidden;
}

html, body {
    overflow: visible;
    height: 100%;
    padding: 0;
    background-color: rgb(55, 57, 201);  
    
    color: #fdf9f9;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(255, 255, 255);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.poster {
    float:right;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.plaatjeLinks {
      float: left;
      width:200px;
}

.textRechts {
  float: right;
  width:650px;
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #1a0505;
}

nav li a.active {
    background-color: skyblue;
}



